/* ==========================================================================
   Foundation
   ========================================================================== */

   @use "foundation/reset";
   @use "foundation/base";
   @use "foundation/mixin";
   
/* ==========================================================================
   Layout
   ========================================================================== */
   
   @use "layout/header";
   @use "layout/main";
   @use "layout/footer";

/* ==========================================================================
   Object
   ========================================================================== */
   
/* Component
   ----------------------------------------------------------------- */
   
   @use "object/component/hidden";
   @use "object/component/btn";
   @use "object/component/section";
   @use "object/component/breadcrumb";
   @use "object/component/pagenavi";
   @use "object/component/inner";
   @use "object/component/circle";

/* Project
   ----------------------------------------------------------------- */
   
   @use "object/project/header-main";
   @use "object/project/footer-main";
   @use "object/project/top";
   @use "object/project/error-404";
   @use "object/project/news";
   @use "object/project/results";
   @use "object/project/lecturer";
   @use "object/project/reservation";
   @use "object/project/facility";
   @use "object/project/flow";
   @use "object/project/faq";
   @use "object/project/about";
   @use "object/project/course";
   @use "object/project/contact";
   @use "object/project/privacy";
   @use "object/project/voice";

/* Utility
   ----------------------------------------------------------------- */
   
   @use "object/utility/color";
