@charset "UTF-8";
@use "../../foundation/mixin";
@use "../../object/utility/color";
.c-breadcrumbs {
    font-size: 1.3rem;
    letter-spacing: 0.14em;
    font-weight: 500;
    margin-top: 35px;
    .c-breadcrumbs__inner {
        display: flex;
        align-items: center;
        span {
            a {
                text-decoration: none;
                color: color.$textColor;
                span {
                    color: color.$textColor;
                    .fa-house {
                        color: #006D41;
                        margin-right: 3px;
                    }
                }
            }
        }
        .fa-chevron-right {
            margin: 0 10px;
            font-size: 1rem;
            color: #006D41;
        }
    }
}
