@charset "UTF-8";
@use "../../foundation/mixin";
@use "../../object/utility/color";
.c-circle__page-top-img-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 65%;
    @include mixin.mid {
        width: 48.5%;
    }
    .c-circle__page-top-img {
        width: 100%;
        display: block;
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
}

.c-circle__page-right-img-wrapper {
    position: absolute;
    right: 0;
    top: 300px;
    width: 32%;
    z-index: -1;
    @include mixin.mid {
        top: 495px;
        width: 15%;
    }
    .c-circle__page-right-img {
        width: 100%;
        display: block;
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
}

.c-circle__page-top-main-img-wrapper {
    display: none;
    @include mixin.mid {
        display: block;
        position: absolute;
        right: 0;
        top: 107px;
        width: 64.17%;
    }
    .c-circle__page-top-main-img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

.c-circle__page-top-main-img-wrapper-sp {
    width: 107%;
    margin: 20px 0 -10% -7%;
    @include mixin.mid {
        display: none;
    }
    .c-circle__page-top-main-img-sp {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}