@charset "UTF-8";
@use "../../foundation/mixin";
@use "../../object/utility/color";
.c-inner {
    padding: 0 6.67%;
    @include mixin.pc {
        padding: 0;
        max-width: 1000px;
        margin: 0 auto;
    }
}