@charset "UTF-8";
@use "../../foundation/mixin";
@use "../../object/utility/color";
.c-arrow {
    display: flex;
    justify-content: center;
    .c-pagination {
        .wp-pagenavi {
            display: flex;
            align-items: center;
            span {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;
                letter-spacing: 0.14em;
                font-weight: 500;
                margin: 0 10px;
            }
            a {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-size: 1.6rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #266b45;
                border: 1px solid #266b45;
                letter-spacing: 0.14em;
                margin: 0 10px;
            }
            .smaller {
                background: color.$subColor;
            }
            .current {
                background: #266b45;
                color: color.$subColor;
                border: none;
            }
            .extend {
                border: none;
                color: #266b45;
                margin: 0;
            }
            .larger {
                background: color.$subColor;
            }
            .last {
                background: color.$subColor;
            }
            .nextpostslink, .previouspostslink {
                display: none;
                .fa-chevron-right {
                    color: #266b45;
                }
                .fa-chevron-left {
                    color: #266b45;
                }
            }
        }
    }
}

.p-voice__arrow {
    .c-pagination {
        .wp-pagenavi {
            a {
                width: 40px;
                height: 40px;
                @include mixin.tab {
                    width: 45px;
                    height: 45px;
                }
                @include mixin.sub {
                    width: 50px;
                    height: 50px;
                }
            }
            .nextpostslink, .previouspostslink {
                border: none;
                width: auto;
                display: flex;
                align-items: center;
                column-gap: 15px;
                font-size: 0;
                font-weight: 500;
                letter-spacing: 0.14em;
                color: color.$textColor;
                @include mixin.tab {
                    font-size: 1.4rem;
                }
                @include mixin.sub {
                    font-size: 1.6rem;
                }
                .fa-chevron-right {
                    color: #266b45;
                    font-size: 1.6rem;
                }
                .fa-chevron-left {
                    color: #266b45;
                    font-size: 1.6rem;
                }
            }
            .current {
                width: 40px;
                height: 40px;
                @include mixin.tab {
                    width: 45px;
                    height: 45px;
                }
                @include mixin.sub {
                    width: 50px;
                    height: 50px;
                }
            }
            .page, .current, .extend, .last {
                order: 2; /* page と last をすべて真ん中へ */
            }
            .larger {
                display: none;
                @include mixin.tab {
                    display: flex;
                }
            }

            .previouspostslink {
                order: 1;
            }
            .nextpostslink {
                order: 3;
            }
        }
    }
}





// 詳細ページページネーション
.c-single__pagenavi-box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    position: relative;
    @include mixin.mid {
        max-width: 450px;
        margin: 0 auto;
    }
    .post-previous, .post-next {
        a {
            display: flex;
            align-items: center;
            height: 50px;
            width: 140px;
            justify-content: center;
            background: #266b45;
            border-radius: 25px;
            color: color.$subColor;
            column-gap: 8px;
            font-size: 1.6rem;
            letter-spacing: 0.14em;
            font-weight: 500;
            .post-arrow {
                width: 15px;
                height: auto;
                vertical-align: middle;
            }
        }
    }
    .post-previous {
        position: absolute;
        left: 0;
    }
    .post-next {
        position: absolute;
        right: 0;
    }
    .c-single__pagenavi-return-box {
        transform: translateY(60px);
        @include mixin.mid {
            position: static;
            transform: none;
        }
        .c-single__pagenavi-return {
            background: color.$subColor;
            border: 1px solid #266b45;
            color: #266b45;
            height: 50px;
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            font-size: 1.6rem;
            letter-spacing: 0.14em;
            font-weight: 500;
        }
    }
}