@charset "UTF-8";
@use "../../foundation/mixin";
@use "../utility/color";

// トップページセクションタイトル
.c-section__title-wrapper {
    opacity: 0;
    visibility: hidden;
    .c-section__title-en {
        font-size: 1.5rem;
        letter-spacing: 0.14em;
        font-weight: 500;
        color: #388d60;
    }
    .c-section__title-ja {
        font-size: 2.5rem;
        letter-spacing: 0.14em;
        font-weight: 500;
        margin-top: 15px;
        color: color.$textColor;
        @include mixin.sub {
            font-size: 3rem;
        }
    }
}

// 下層ページトップタイトル
.c-section__page-title-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    position: relative;
    @include mixin.mid {
        text-align: left;
    }
    .c-section__page-title {
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 0.14em;
        color: color.$textColor;
        line-height: 1.5;
        @include mixin.mid {
            font-size: 4rem;
        }
    }
    .c-section__page-title-en {
        font-size: 1.5rem;
        letter-spacing: 0.14em;
        font-weight: 500;
        color: #388d60;
        line-height: 1;
        @include mixin.mid {
            font-size: 2rem;
        }
    }
}