@charset "UTF-8";
@use "../../foundation/mixin";
@use "../utility/color";

// トップページセクションタイトル
.c-section__title-wrapper {
    .c-section__title-en {
        font-size: 1.5rem;
        letter-spacing: 0.14em;
        font-weight: 500;
        color: #388d60;
    }
    .c-section__title-ja {
        font-size: 3rem;
        letter-spacing: 0.14em;
        font-weight: 500;
        margin-top: 15px;
        color: color.$textColor;
    }
}

// 下層ページトップタイトル
.c-section__page-title-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .c-section__page-title {
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 0.14em;
        color: color.$textColor;
        line-height: 1.5;
    }
    .c-section__page-title-en {
        font-size: 2rem;
        letter-spacing: 0.14em;
        font-weight: 500;
        color: #388d60;
        line-height: 1;
    }
}