@charset "UTF-8";
@use "../../foundation/mixin";
@use "../utility/color";
.p-about {
    padding: 115px 0;
    position: relative;
    z-index: 1;
    margin-top: -85px;
    @include mixin.mid {
        padding: 200px 0 100px;
        margin-top: -105px;
    }

    // Concept
    .p-about__concept {
        margin: 60px 0 0;
        @include mixin.mid {
            margin: 30% 0 0;
        }
        .p-about__concept-container {
            display: flex;
            flex-direction: column;
            @include mixin.mid {
                flex-direction: row;
                justify-content: space-between;
            }
            .p-about__concept-img-wrapper {
                width: 88%;
                @include mixin.mid {
                    width: 37%;
                }
                .p-about__concept-img {
                    width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
            .p-about__concept-text-wrapper {
                display: flex;
                padding: 0 6.67%;
                margin-top: 50px;
                column-gap: 12px;
                @include mixin.mid {
                    width: 59.17%;
                    column-gap: 32px;
                }
                @include mixin.pc {
                    padding: 0;
                }
                .p-about__concept-title-en {
                    writing-mode: vertical-rl;
                    font-size: 1.5rem;
                    letter-spacing: 0.14em;
                    font-weight: 500;
                    color: #388d60;
                }
                .p-about__concept-column-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 50px;
                    .p-about__concept-title-ja-wrapper {
                        display: flex;
                        flex-direction: column;
                        row-gap: 7px;
                        .p-about__concept-title-ja {
                            font-size: 2.2rem;
                            letter-spacing: 0.14em;
                            font-weight: 500;
                            color: color.$textColor;
                            background: color.$subColor;
                            border-radius: 5px;
                            height: 55px;
                            display: flex;
                            align-items: center;
                            width: fit-content;
                            padding: 0 13px;
                            @include mixin.tab {
                                padding: 0 20px;
                            }
                            @include mixin.mid {
                                font-size: 3rem;
                            }
                        }
                    }
                    .p-about__concept-text {
                        font-size: 1.6rem;
                        letter-spacing: 0.14em;
                        font-weight: 500;
                        color: color.$textColor;
                        line-height: 2.187;
                    }
                }
            }
        }
    }

    // 大切にしている４つのこと
    .p-about__important {
        position: relative;
        z-index: 0;
        margin: 120px 0 0;
        .p-about__important-bg-wave {
            background-image: url("../images/about/important-bg-wave-sp.png");
            background-position: center;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            @include mixin.mid {
                background-image: url("../images/about/important-bg-wave.png");
            }
        }
        .p-about__important-container {
            display: flex;
            flex-direction: column;
            row-gap: 65px;
            padding: 100px 0 165px;
            @include mixin.mid {
                padding: 200px 0 250px;
            }
            .p-about__important-title {
                font-size: 2.2rem;
                letter-spacing: 0.14em;
                font-weight: 500;
                color: color.$textColor;
                text-align: center;
                @include mixin.mid {
                    font-size: 3rem;
                }
                .p-about__important-title-font {
                    font-size: 4.8rem;
                    color: #005a38;
                    margin: 0 10px;
                    line-height: 1;
                    vertical-align: bottom;
                    @include mixin.mid {
                        font-size: 6rem;
                    }
                }
            }
            .p-about__important-box {
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                .p-about__important-wrapper {
                    display: flex;
                    flex-direction: column;
                    border-radius: 50px;
                    padding: 60px 40px 40px;
                    background: color.$subColor;
                    /* ▼ 二重グリッド構造（細かい線＋太い線） */
                    background-image:
                    /* 細かいグリッド（薄い） */
                    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px),

                    /* 広いグリッド（少し濃い） */
                    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);

                    /* ▼ グリッドの間隔設定 */
                    background-size:
                    20px 20px, /* 細かいピッチ */
                    20px 20px,
                    40px 40px, /* 広いピッチ */
                    40px 40px;
                    background-repeat: repeat;
                    /* ▼ 全レイヤーを右下に同じだけずらす（例：5px） */
                    background-position:
                    3px 5px,  /* 細かい縦線 */
                    5px 5px,  /* 細かい横線 */
                    3px 5px,  /* 広い縦線 */
                    5px 5px;  /* 広い横線 */
                    @include mixin.sub {
                        padding: 40px 50px;
                        row-gap: 30px;
                    }
                    @include mixin.pc {
                        row-gap: 54px;
                        padding: 65px 70px;
                    }
                    .p-about__important-item-title-wrapper {
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        align-items: center;
                        @include mixin.sub {
                            flex-direction: row;
                            column-gap: 20px;
                        }
                        @include mixin.pc {
                            column-gap: 40px;
                        }
                        .p-about__important-item-number-wrapper {
                            width: 45px;
                            @include mixin.sub {
                                width: 40px;
                            }
                            @include mixin.pc {
                                width: 53px;
                            }
                            .p-about__important-item-number {
                                width: 100%;
                                height: auto;
                                vertical-align: middle;
                            }
                        }
                        .p-about__important-item-title {
                            font-size: 2rem;
                            letter-spacing: 0.14em;
                            font-weight: 500;
                            color: color.$textColor;
                            text-align: center;
                            @include mixin.sub {
                                font-size: 2.2rem;
                                text-align: left;
                            }
                            @include mixin.mid {
                                font-size: 2.4rem;
                            }
                            @include mixin.pc {
                                font-size: 2.8rem;
                            }
                        }
                    }
                    .p-about__important-item-text-wrapper {
                        display: flex;
                        flex-direction: column-reverse;
                        @include mixin.sub {
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: flex-start;
                        }
                        .p-about__important-item-text-block {
                            @include mixin.sub {
                                width: 75%;
                            }
                            @include mixin.pc {
                                width: 70.93%;
                            }
                            .p-about__important-item-text {
                                font-size: 1.6rem;
                                letter-spacing: 0.1em;
                                font-weight: 500;
                                line-height: 2.187;
                                color: color.$textColor;
                                @include mixin.sub {
                                    font-size: 1.5rem;
                                    letter-spacing: 0.14em;
                                }
                                @include mixin.mid {
                                    font-size: 1.6rem;
                                }
                                .p-about__important-item-text-font {
                                    color: #db7a27;
                                }
                            }
                            .p-about__important-item-text-list {
                                display: flex;
                                flex-direction: column;
                                row-gap: 12px;
                                margin: 15px 0;
                                @include mixin.sub {
                                    row-gap: 8px;
                                }
                                .p-about__important-item-text-list-item {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    font-size: 1.6rem;
                                    letter-spacing: 0.14em;
                                    font-weight: 500;
                                    color: color.$textColor;
                                    line-height: 2.187;
                                    row-gap: 8px;
                                    @include mixin.sub {
                                        row-gap: 0;
                                        align-items: center;
                                        flex-direction: row;
                                        font-size: 1.5rem;
                                    }
                                    @include mixin.mid {
                                        font-size: 1.6rem;
                                    }
                                    .p-about__important-item-text-list-item-dot {
                                        display: none;
                                        @include mixin.sub {
                                            display: inline-block;
                                            margin-right: 5px;
                                        }
                                    }
                                    .p-about__important-item-text-list-item-box {
                                        display: flex;
                                        align-items: center;
                                    }
                                    .p-about__important-item-text-list-item-number {
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 50%;
                                        background: #005a38;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 1.5rem;
                                        font-weight: 500;
                                        color: color.$subColor;
                                        letter-spacing: normal;
                                    }
                                    .p-about__important-item-text-list-item-font {
                                        font-size: 2.1rem;
                                        letter-spacing: 0.14em;
                                        font-weight: 500;
                                        color: color.$textColor;
                                        margin: 0 11px 0 20px;
                                        line-height: 1;
                                        @include mixin.sub {
                                            font-size: 1.8rem;
                                            width: max-content;
                                            margin: 0 11px 0 11px;
                                        }
                                        @include mixin.pc {
                                            font-size: 2.1rem;
                                            width: auto;
                                            margin: 0 11px 0 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .p-about__important-item-text-block-02 {
                            @include mixin.sub {
                                width: 75%;
                            }
                            @include mixin.pc {
                                width: 72.1%;
                            }
                        }
                        .p-about__important-item-img-wrapper {
                            width: 56%;
                            margin: 30px auto;
                            @include mixin.sub {
                                margin: 0;
                                width: 23.02%;
                            }
                            .p-about__important-item-img {
                                width: 100%;
                                height: auto;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
    // DEKOメソッド
    .p-about__method {
        padding: 60px 0 70px;
        .p-about__method-title-wrapper {
            text-align: center;
            .p-about__method-page-title-en {
                font-size: 1.5rem;
            }
        }
        .p-about__method-top-text {
            font-size: 1.6rem;
            letter-spacing: 0.14em;
            font-weight: 500;
            color: color.$textColor;
            text-align: center;
            line-height: 2.187;
            margin: 50px 0;
        }
        .p-about__method-container {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            @include mixin.sub {
                row-gap: 0;
            }
            .p-about__method-wrapper {
                display: flex;
                flex-direction: column;
                @include mixin.sub {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: stretch;
                    border-bottom: 2px dotted #388d60;
                }
                &:first-child {
                    @include mixin.sub {
                        border-top: 2px dotted #388d60;
                    }
                }
                .p-about__method-item-title-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background: rgba(177, 207, 160, 0.3);
                    padding: 20px 0;
                    @include mixin.sub {
                        width: 26.7%;
                        padding: 0;
                    }
                    .p-about__method-item-title-en-wrapper {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        .p-about__method-item-title-big-en {
                            font-size: 3.5rem;
                            font-weight: 700;
                            color: #388d60;
                            line-height: 1;
                        }
                        .p-about__method-item-title-en {
                            font-size: 1.5rem;
                            font-weight: 500;
                            letter-spacing: 0.14em;
                            color: #388d60;
                        }
                    }
                    .p-about__method-item-title {
                        font-size: 2rem;
                        font-weight: 500;
                        letter-spacing: 0.14em;
                        color: color.$textColor;
                        line-height: 1.75;
                    }
                }
                .p-about__method-item-img-wrapper {
                    @include mixin.sub {
                        width: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 35px 0;
                    }
                    .p-about__method-item-img-box {
                        margin: 20px 0;
                        @include mixin.sub {
                            width: 26.43%;
                            margin: 0;
                        }
                        .p-about__method-item-img {
                            width: 100%;
                            height: auto;
                            vertical-align: middle;
                        }
                    }
                    .p-about__method-item-text {
                        font-size: 1.6rem;
                        font-weight: 500;
                        letter-spacing: 0.14em;
                        line-height: 2.187;
                        color: color.$textColor;
                        @include mixin.sub {
                            width: 68.14%;
                        }
                    }
                }
            }
        }
    }
    // 教育理念
    .p-about__philosophy {
        padding: 70px 0 125px;
        .p-about__philosophy-title-wrapper {
            text-align: center;
            .p-about__philosophy-page-title-en {
                font-size: 1.5rem;
            }
        }
        .p-about__philosophy-container {
            display: flex;
            flex-direction: column-reverse;
            margin: 70px 0 0;
            row-gap: 30px;
            @include mixin.sub {
                flex-direction: row;
                row-gap: 0;
                justify-content: space-between;
            }
            .p-about__philosophy-text-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                @include mixin.sub {
                    row-gap: 45px;
                    width: 57%;
                }
                .p-about__philosophy-text {
                    font-size: 1.6rem;
                    font-weight: 500;
                    letter-spacing: 0.14em;
                    color: color.$textColor;
                    line-height: 2.187;
                }
            }
            .p-about__philosophy-img-wrapper {
                @include mixin.sub {
                    width: 38%;
                }
                .p-about__philosophy-img {
                    width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
        }
    }
    // Message
    .p-about__message {
        position: relative;
        z-index: 0;
        .p-about__message-bg-wave {
            background-image: url("../images/about/message-bg-wave-sp.png");
            background-size: 100% 100%;
            background-position: center;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include mixin.mid {
                background-image: url("../images/about/message-bg-wave.png");
            }
        }
        .p-about__message-container {
            display: flex;
            flex-direction: column;
            padding: 150px 0;
            @include mixin.sub {
                flex-direction: row;
                padding: 230px 0;
                justify-content: space-between;
            }
            .p-about__message-img-wrapper {
                display: none;
                @include mixin.sub {
                    display: block;
                    width: 39.5%;
                }
                .p-about__message-img {
                    width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
            .p-about__message-text-container {
                display: flex;
                flex-direction: column;
                row-gap: 50px;
                @include mixin.sub {
                    width: 53.5%;
                }
                .p-about__message-text-title-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    .p-about__message-text-title-en {
                        font-size: 1.5rem;
                        letter-spacing: 0.14em;
                        font-weight: 500;
                        color: #388d60;
                    }
                    .p-about__message-text-title-box {
                        display: flex;
                        flex-direction: column;
                        row-gap: 6px;
                        .p-about__message-text-title {
                            width: fit-content;
                            background: color.$subColor;
                            display: flex;
                            align-items: center;
                            font-size: 2rem;
                            letter-spacing: 0.14em;
                            font-weight: 500;
                            color: color.$textColor;
                            border-radius: 5px;
                            padding: 0 15px;
                            height: 45px;
                            @include mixin.sub {
                                font-size: 2.4rem;
                                height: 50px;
                            }
                            @include mixin.mid {
                                height: 55px;
                                padding: 0 20px;
                                font-size: 3rem;
                            }
                        }
                    }
                }
                .p-about__message-img-wrapper-sp {
                    width: 100%;
                    @include mixin.sub {
                        display: none;
                    }
                    .p-about__message-img-sp {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
                .p-about__message-text-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    .p-about__message-text {
                        font-size: 1.6rem;
                        font-weight: 500;
                        letter-spacing: 0.14em;
                        color: color.$textColor;
                        line-height: 2.187;
                    }
                    .p-about__message-post-name {
                        font-size: 1.5rem;
                        font-weight: 500;
                        letter-spacing: 0.14em;
                        color: color.$textColor;
                        display: flex;
                        align-items: baseline;
                        column-gap: 20px;
                        .p-about__message-name {
                            font-size: 2.3rem;
                        }
                    }
                }
            }
        }
    }
    // 会社概要
    .p-about__company {
        padding: 80px 0 65px;
        .p-about__company-title-wrapper {
            flex-direction: row;
            align-items: center;
            column-gap: 20px;
            .p-about__company-page-title {
                font-size: 3rem;
                @include mixin.mid {
                    font-size: 3.5rem;
                }
            }
            .p-about__company-page-title-en {
                font-size: 1.5rem;
            }
        }
        .p-about__company-info-list {
            display: flex;
            flex-direction: column;
            margin-top: 70px;
            .p-about__company-info-item {
                display: flex;
                justify-content: space-between;
                padding: 30px 10px;
                border-bottom: 1px solid #aabea9;
                align-items: center;
                @include mixin.sub {
                    justify-content: left;
                }
                dt {
                    font-weight: 500;
                    font-size: 1.5rem;
                    letter-spacing: 0.14em;
                    color: #388d60;
                    width: 35%;
                    @include mixin.sub {
                        font-size: 1.6rem;
                        width: 135px;
                    }
                }
                dd {
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: 0.14em;
                    color: color.$textColor;
                    width: 60%;
                    @include mixin.sub {
                        width: auto;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    // アクセス案内
    .p-about__access {
        padding: 65px 0 0;
        .p-about__access-title-wrapper {
            flex-direction: row;
            align-items: center;
            column-gap: 20px;
            .p-about__access-page-title {
                font-size: 3rem;
                @include mixin.mid {
                    font-size: 3.5rem;
                }
            }
            .p-about__access-page-title-en {
                font-size: 1.5rem;
            }
        }
        .p-about__access-container {
            display: flex;
            flex-direction: column;
            margin-top: 70px;
            row-gap: 20px;
            @include mixin.sub {
                flex-direction: row;
                row-gap: 0;
                column-gap: 50px;
            }
            .p-about__access-img-wrapper {
                @include mixin.sub {
                    width: 42.2%;
                }
                .p-about__access-img {
                    width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
            .p-about__access-detail-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                @include mixin.sub {
                    width: 52.5%;
                }
                .p-about__access-detail-box {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    .p-about__access-detail-title {
                        font-size: 1.6rem;
                        font-weight: 500;
                        letter-spacing: 0.14em;
                        color: #388d60;
                    }
                    .p-about__access-detail-text {
                        font-size: 1.6rem;
                        font-weight: 500;
                        letter-spacing: 0.14em;
                        color: color.$textColor;
                        line-height: 1.56;
                    }
                }
            }
        }
        .p-about__access-map-container {
            margin: 95px 0 80px;
            iframe {
                width: 100%;
            }
        }
        .p-about__access-means-container {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .p-about__access-means-title {
                font-size: 1.6rem;
                font-weight: 500;
                letter-spacing: 0.14em;
                color: #388d60;
            }
            .p-about__access-means-contents-box {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                @include mixin.mid {
                    flex-direction: row;
                    row-gap: 0;
                    justify-content: space-between;
                    align-items: baseline;
                }
                .p-about__access-means-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 18px;
                    padding: 5px 0 5px 15px;
                    border-left: 1.5px solid #aabea9;
                    @include mixin.mid {
                        padding: 5px 0 5px 18px;
                        width: 32%;
                    }
                    @include mixin.pc {
                        padding: 5px 0 5px 25px;
                    }
                    .p-about__access-means-item-title {
                        font-size: 1.6rem;
                        font-weight: 500;
                        letter-spacing: 0.14em;
                        color: color.$textColor;
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: #388d60;
                        }
                    }
                    .p-about__access-means-item-text {
                        font-size: 1.5rem;
                        letter-spacing: 0.14em;
                        font-weight: 500;
                        line-height: 1.53;
                        color: color.$textColor;
                    }
                    .p-about__access-means-item-detail {
                        font-size: 1.3rem;
                        font-weight: 500;
                        line-height: 1.53;
                    }
                }
            }
        }
    }
}