@charset "UTF-8";
@use "../../foundation/mixin";
@use "../utility/color";
.p-lecturer {
    padding: 270px 0 100px;
    position: relative;
    z-index: 1;
    .p-lecturer__inner {
        max-width: 962px;
        margin: 0 auto;
        .p-lecturer__container {
            margin: 310px 0 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 70px;
            .p-lecturer__wrapper {
                width: 43.87%;
                .p-lecturer__img-wrapper {
                    position: relative;
                    .p-lecturer__img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                        border-radius: 5px;
                    }
                    .p-lecturer__nickname {
                        font-size: 1.6rem;
                        letter-spacing: 0.14em;
                        font-weight: 500;
                        color: #388d60;
                        padding: 0 20px;
                        height: 35.5px;
                        display: flex;
                        align-items: center;
                        border: 1px solid #388d60;
                        border-radius: 18px;
                        width: fit-content;
                        background: color.$subColor;
                        position: absolute;
                        top: -10px;
                        right: -18px;
                    }
                }
                .p-lecturer__text-wrapper {
                    .p-lecturer__name-wrapper {
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;
                        margin: -18px 0 30px -23px;
                        position: relative;
                        .p-lecturer__name {
                            height: 36px;
                            padding: 0 12px;
                            display: flex;
                            align-items: center;
                            background: #388d60;
                            border-radius: 2px;
                            font-size: 1.9rem;
                            letter-spacing: 0.14em;
                            font-weight: 500;
                            color: color.$subColor;
                            width: fit-content;
                        }
                        .p-lecturer__subname {
                            height: 26px;
                            padding: 0 12px;
                            display: flex;
                            align-items: center;
                            background: #388d60;
                            border-radius: 2px;
                            font-size: 1.3rem;
                            letter-spacing: 0.14em;
                            font-weight: 500;
                            color: color.$subColor;
                            width: fit-content;
                        }
                    }
                    .p-lecturer__text {
                        font-size: 1.6rem;
                        letter-spacing: 0.14em;
                        font-weight: 500;
                        color: color.$textColor;
                        line-height: 1.875;
                    }
                    .p-lecturer__hobby-container {
                        display: flex;
                        align-items: center;
                        column-gap: 23px;
                        margin-top: 40px;
                        .p-lecturer__hobby-wrapper {
                            display: flex;
                            flex-direction: column;
                            row-gap: 18px;
                            line-height: 1;
                            .p-lecturer__hobby-title {
                                font-size: 1.6rem;
                                letter-spacing: 0.14em;
                                font-weight: 500;
                                color: #005a38;
                            }
                            .p-lecturer__hobby-list {
                                display: flex;
                                flex-direction: column;
                                row-gap: 8px;
                                .p-lecturer__hobby-item {
                                    font-size: 1.4rem;
                                    letter-spacing: 0.14em;
                                    font-weight: 500;
                                    color: color.$textColor;
                                }
                            }
                        }
                        &::before {
                            content: "";
                            width: 1px;
                            height: 96px;
                            background: #388d60;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}