@charset "UTF-8";
@use "../../foundation/mixin";
@use "../utility/color";
.p-top__mv {
    position: relative;
    z-index: 0;
    padding: 95px 0 0;
    .p-top__mv__bg-circle-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 32%;
        z-index: -1;
        .p-top__mv__bg-circle {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
    .p-top__mv__container {
        .p-top__mv__box {
            position: relative;
            .mv-scroll {
                width: 112px;
                height: 112px;
                position: absolute;
                left: 0;
                bottom: 13%;
                .mv-scroll__circle {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    .mv-scroll__text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        animation: rotateText 12s linear infinite; /* 無限回転 */
                        transform-origin: 50% 50%; /* 中心を基準に回転 */
                    }
                    .mv-scroll__arrow {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%); /* 完全中央固定 */
                        width: 18px;   /* 矢印サイズ調整 */
                        height: auto;
                        z-index: 2;
                        pointer-events: none; /* クリック操作など無効化 */
                    }
                    @keyframes rotateText {
                        from {
                            transform: rotate(0deg);
                        }
                        to {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            .p-top__mv__img-wrapper {
                width: 93%;
                margin: 0 auto;
                .p-top__mv__img {
                    width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
            .p-top__mv__main-title-box {
                writing-mode: vertical-rl; /* ←縦書き（右→左方向） */
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.2em; /* 行間調整 */
                position: absolute;
                top: 7%;
                right: 0;
            }
            .p-top__mv__main-title {
                font-size: 3.5rem;
                font-weight: 500;
                letter-spacing: 0.14em;
                color: color.$textColor;
            }
        }
    }
}

// news
.p-top__news {
    padding: 75px 0;
    position: relative;
    margin-top: -7%;
    .p-top__news-section-title-category-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .p-top__news-category-container {
            display: flex;
            column-gap: 50px;
            li {
                .p-news__category-link {
                    font-size: 1.5rem;
                    letter-spacing: 0.14em;
                    font-weight: 500;
                    color: color.$textColor;
                }
                .p-news__category-link-all {
                    color: #388d60;
                    border-bottom: 2px solid #388d60;
                    padding: 0 2px 3px 2px;
                }
            }
        }
    }
    .p-top__news-contents-container {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 21.5% 21.5% 21.5% 21.5%;
        margin: 43px 0;
        .p-top__news-contents-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            width: 100%;
            .p-top__news-contents-img-wrapper {
                width: 100%;
                .p-top__news-contents-img {
                    width: 100%;
                    height: auto;
                    vertical-align: middle;
                    border-radius: 5px;
                }
            }
            .p-top__news-contents-box {
                display: flex;
                flex-direction: column;
                row-gap: 28px;
                .p-top__news-contents-category-box {
                    display: flex;
                    align-items: center;
                    column-gap: 13px;
                    .p-top__news-item-categories {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        li {
                            .p-top__news-contents-category {
                                height: 25px;
                                border: 1px solid #266b45;
                                border-radius: 12px;
                                padding: 0 12px;
                                color: #266b45;
                                font-size: 1.3rem;
                                font-weight: 500;
                                letter-spacing: 0.1em;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                    .p-top__news-contents-date {
                        font-size: 1.2rem;
                        font-weight: 500;
                        letter-spacing: 0.1em;
                        color: #939b89;
                        font-family: "Montserrat", serif;
                    }
                }
                .p-top__news-contents-title {
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    color: #0d3425;
                    line-height: 2;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .p-top__news-more-btn-wrapper {
        .p-top__news-more-btn {
            height: 55px;
            border-radius: 27px;
            display: flex;
            align-items: center;
            width: fit-content;
            column-gap: 20px;
            padding: 0 11px 0 30px;
        }
    }
}

// message
.p-top__message {
    position: relative;
    z-index: 0;
    display: flex;
    margin-top: -6%;
    .p-top__message-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;
        background-image: url('../images/top/message-wave.png');
        z-index: -1;
    }
    .p-top__message-column-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 180px 0 320px;
        .p-top__message-images-left-wrapper {
            width: 22%;
            display: flex;
            flex-direction: column;
            row-gap: 60px;
            margin-top: 17%;
            .p-top__message-image {
                height: auto;
                vertical-align: middle;
            }
            .p-top__message-image-left01 {
                width: 100%;
            }
            .p-top__message-image-left02 {
                width: 66%;
                display: block;
                margin-left: auto;
            }
        }
        .p-top__message-text-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            margin-left: 8%;
            margin-top: 11%;
            .p-top__message-text {
                font-size: 1.6rem;
                letter-spacing: 0.14em;
                color: color.$textColor;
                font-weight: 500;
                line-height: 2.18;
            }
            .p-top__message-text02 {
                margin-left: 40px;
            }
            .p-top__message-text03 {
                margin-left: 80px;
            }
            .p-top__message-text04 {
                margin-left: 120px;
                width: max-content;
                display: block;
            }
        }
        .p-top__message-title-wrapper {
            display: flex;
            column-gap: 20px;
            margin-left: -5%;
            .p-top__message-title-en {
                writing-mode: vertical-rl;
                font-size: 1.5rem;
                letter-spacing: 0.2em;
                font-weight: 500;
                color: #008f5c;
            }
            .p-top__message-title-box {
                writing-mode: vertical-rl;
                display: flex;
                flex-direction: column;
                row-gap: 0.5em; /* 行間調整 */
                .p-top__message-title {
                    font-size: 2.8rem;
                    letter-spacing: 0.14em;
                    font-weight: 500;
                    color: color.$textColor;
                }
                .p-top__message-title02 {
                    margin-top: 32px;
                }
                .p-top__message-title03 {
                    margin-top: 64px;
                }
            }
        }
        .p-top__message-images-right-wrapper {
            width: 26%;
            margin-top: 16%;
            .p-top__message-image {
                height: auto;
                vertical-align: middle;
            }
            .p-top__message-image-right01 {
                width: 54%;
                display: block;
                margin-left: auto;
                margin-right: 4%;
            }
            .p-top__message-image-right02 {
                width: 88%;
                display: block;
                margin-left: auto;
                margin-right: 25%;
                margin-top: 15%
            }
        }
    }
}

// DEKObokoイラスト
.p-top__message-dekoboko-main-img-wrapper {
    max-width: 800px;
    margin: -21% auto 0;
    position: relative;
    z-index: 1;
    .p-top__message-dekoboko-main-img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

// about
.p-top__about {
    position: relative;
    z-index: 0;
    display: flex;
    margin-top: -14%;
    .p-top__about-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('../images/top/about-bg-wave.png');
        z-index: -1;
    }
    .p-top__about-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 340px 0 250px;
        .p-top__about-title {
            font-size: 2.8rem;
            letter-spacing: 0.14em;
            font-weight: 500;
            color: color.$textColor;
            text-align: center;
        }
        .p-top__about-contents-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 66px 44px;
            margin-top: 87px;
            .p-top__about-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 46%;
                background: color.$subColor;
                border-radius: 50px;
                padding: 0 0 30px;
                /* ▼ 二重グリッド構造（細かい線＋太い線） */
                background-image:
                /* 細かいグリッド（薄い） */
                linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
                linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px),

                /* 広いグリッド（少し濃い） */
                linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
                linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);

                /* ▼ グリッドの間隔設定 */
                background-size:
                20px 20px, /* 細かいピッチ */
                20px 20px,
                40px 40px, /* 広いピッチ */
                40px 40px;
                background-repeat: repeat;
                /* ▼ 全レイヤーを右下に同じだけずらす（例：5px） */
                background-position:
                3px 5px,  /* 細かい縦線 */
                5px 5px,  /* 細かい横線 */
                3px 5px,  /* 広い縦線 */
                5px 5px;  /* 広い横線 */

                .p-top__about-number {
                    display: block;
                    margin: -18px auto 0;
                }
                .p-top__about-number01 {
                    width: 53px;
                }
                .p-top__about-number02 {
                    width: 63px;
                }
                .p-top__about-number03 {
                    width: 63px;
                }
                .p-top__about-number04 {
                    width: 70px;
                }
                .p-top__about-item-title {
                    font-size: 1.8rem;
                    letter-spacing: 0.14em;
                    color: color.$textColor;
                    font-weight: 500;
                    text-align: center;
                    margin: 35px 0 20px;
                    line-height: 1.94;
                }
                .p-top__about-item-img-wrapper {
                    aspect-ratio: 4 / 3; /* 一番大きい画像の比率に合わせる（例） */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .p-top__about-item-img01 {
                        width: 113px;
                    }
                    .p-top__about-item-img02 {
                        width: 211px;
                    }
                    .p-top__about-item-img03 {
                        width: 203px;
                    }
                    .p-top__about-item-img04 {
                        width: 110px;
                    }
                }
            }
        }
        .p-top__about-more-btn-wrapper {
            margin-top: 60px;
            .p-top__about-more-btn {
                display: flex;
                align-items: center;
                column-gap: 30px;
                width: fit-content;
                height: 85px;
                padding: 0 62px 0 23px;
                border-radius: 43px;
                font-size: 1.8rem;
                margin: 0 auto;
                .p-top__about-btn-circle-arrow {
                    width: 48px;
                    height: auto;
                }
            }
        }
    }
}

// voice
.p-top__voice {
    padding: 5% 0 0;
    .p-top__voice-title {
        font-size: 2.3rem;
        letter-spacing: 0.14em;
        font-weight: 500;
        color: color.$textColor;
        display: flex;
        justify-content: center;
        column-gap: 35px;
        &::before {
            content: "";
            width: 2px;
            height: 32px;
            background: color.$textColor;
            display: inline-block;
            transform: rotate(-20deg);
        }
        &::after {
            content: "";
            width: 2px;
            height: 32px;
            background: color.$textColor;
            display: inline-block;
            transform: rotate(20deg);
        }
    }
    .p-top__voice-slider-container {
        position: relative;
        .p-top__voice-slider-arrow-wrapper {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            z-index: 10;
            width: 67%;
            .swiper-button-prev::after,
            .swiper-button-next::after {
                display: none;
            }
            .p-top__voice-prev {
                width: 14%;
                position: static;
                transition: opacity 0.3s ease;
                @include mixin.sub {
                    width: 57px;
                }
                &:hover {
                    opacity: 0.8;
                }
                .p-top__voice-prev-img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            .p-top__voice-next {
                width: 14%;
                position: static;
                transition: opacity 0.3s ease;
                @include mixin.sub {
                    width: 57px;
                }
                &:hover {
                    opacity: 0.8;
                }
                .p-top__voice-next-img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
        .p-top__voice-slider {
            margin: 35px auto 0;
            overflow: visible;
            position: relative;
            .p-top__voice-slider-box {
                display: flex;
                align-items: stretch;
                .p-top__voice-slider-list {
                    height: auto !important;
                    .p-top__voice-slider-item {
                        background: color.$subColor;
                        border-radius: 50px;
                        border: 1.5px solid #388d60;
                        padding: 37px 60px 30px 65px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 30px;
                        height: -webkit-fill-available; /* Safari, Chrome, Edge */
                        height: -moz-available;         /* Firefox用（非標準） */
                        height: fill-available;         /* 仕様上の標準（将来用） */
                        /* ▼ 二重グリッド構造（細かい線＋太い線） */
                        background-image:
                        /* 細かいグリッド（薄い） */
                        linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
                        linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);

                        /* ▼ グリッドの間隔設定 */
                        background-size:
                        20px 20px, /* 細かいピッチ */
                        20px 20px;
                        background-repeat: repeat;
                        /* ▼ 全レイヤーを右下に同じだけずらす（例：5px） */
                        background-position:
                        3px 5px,  /* 細かい縦線 */
                        5px 5px;  /* 細かい横線 */
                        .p-top__voice-slider-item-top-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .p-top__voice-slider-item-top-title-wrapper {
                                display: flex;
                                align-items: center;
                                column-gap: 25px;
                                .p-top__voice-slider-item-top-icon-wrapper {
                                    width: 90px;
                                    .p-top__voice-slider-item-top-icon {
                                        width: 100%;
                                        height: auto;
                                        vertical-align: middle;
                                    }
                                }
                                .p-top__voice-slider-item-top-title-box {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 5px;
                                    .p-top__voice-slider-item-top-title {
                                        font-size: 1.6rem;
                                        letter-spacing: 0.14em;
                                        font-weight: 700;
                                        color: color.$textColor;
                                    }
                                    .p-top__voice-slider-item-top-course-link {
                                        font-size: 1.3rem;
                                        letter-spacing: 0.14em;
                                        font-weight: 700;
                                        color: #388d60;
                                    }
                                }
                            }
                            .p-top__voice-slider-item-top-star-wrapper {
                                display: flex;
                                align-items: center;
                                column-gap: 15px;
                                .p-top__voice-slider-item-top-star-title {
                                    font-size: 1.6rem;
                                    letter-spacing: 0.14em;
                                    font-weight: 700;
                                    color: #388d60;
                                }
                                .p-top__voice-slider-item-top-star-img-wrapper {
                                    width: 140px;
                                    .p-top__voice-slider-item-top-star-img {
                                        width: 100%;
                                        height: auto;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                        .p-top__voice-slider-item-text-wrapper {
                            .p-top__voice-slider-item-text {
                                font-size: 1.5rem;
                                letter-spacing: 0.14em;
                                font-weight: 500;
                                line-height: 2.13;
                                color: color.$textColor;
                            }
                        }
                    }
                }
            }
            .p-top__voice-pagination {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                position: absolute;
                bottom: -40px; // スライダーの下に配置
                left: 50%;
                transform: translateX(-50%);
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    margin: 0 12.5px;
                    border: 1px solid color.$mainColor;
                    background: transparent;
                    opacity: 1;
                }
                .swiper-pagination-bullet-active {
                    background: #9ebe94; // メインカラーに合わせて
                }
            }
        }
    }
}

// guide
.p-top__guide {
    position: relative;
    z-index: 0;
    display: flex;
    margin-top: 10%;
    margin-bottom: -15%;
    .p-top__guide-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('../images/top/guide-bg-wave.png');
        z-index: -1;
    }
    .p-top__guide-container {
        padding: 0 0 20%;
        .p-top__guide-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .p-top__guide-img-wrapper {
                width: 50.83%;
                .p-top__guide-img {
                    width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
            .p-top__guide-btn-container {
                display: flex;
                flex-direction: column;
                row-gap: 40px;
                margin: 0 7.08% 0 0;
                .p-top__guide-btn-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    .p-top__guide-btn {
                        width: 436px;
                        height: 78px;
                        padding: 0 23px 0 33px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: color.$subColor;
                        border-radius: 10px;
                        font-size: 2rem;
                        letter-spacing: 0.14em;
                        font-weight: 500;
                        color: color.$textColor;
                        .p-top__guide-arrow {
                            width: 22px;
                            height: auto;
                        }
                    }
                }
                .p-top__guide-link-wrapper {
                    .p-top__guide-link {
                        font-size: 1.6rem;
                        letter-spacing: 0.14em;
                        font-weight: 500;
                        color: color.$textColor;
                        display: flex;
                        align-items: center;
                        column-gap: 60px;
                        border-bottom: 1px solid color.$textColor;
                        width: fit-content;
                        padding: 0 0 5px;
                        .p-top__guide-link-icon {
                            width: 16px;
                            height: auto;
                            vertical-align: middle;
                        }
                    }
                }
            }
            .p-top__guide-btn-container-reverse {
                margin: 0 0 0 7.08%;
            }
        }
    }
}